<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NantCom.MultiStreamer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <NantCom.MultiStreamer.Properties.Settings>
            <setting name="FacebookStreamKey" serializeAs="String">
                <value />
            </setting>
            <setting name="TwitchStreamKey" serializeAs="String">
                <value />
            </setting>
            <setting name="YouTubeStreamKey" serializeAs="String">
                <value />
            </setting>
            <setting name="FacebookBitRate" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="IsLicenseAcknowledged" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsStartOBS" serializeAs="String">
                <value>False</value>
            </setting>
        </NantCom.MultiStreamer.Properties.Settings>
    </userSettings>
</configuration>