<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net461" />
  <package id="DotNetZip" version="1.10.1" targetFramework="net461" />
  <package id="MahApps.Metro" version="1.6.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net461" />
  <package id="RestSharp" version="106.2.1" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
  <package id="Vlc.DotNet.Core" version="2.2.1" targetFramework="net461" />
  <package id="Vlc.DotNet.Core.Interops" version="2.2.1" targetFramework="net461" />
  <package id="Vlc.DotNet.Forms" version="2.2.1" targetFramework="net461" />
  <package id="Vlc.DotNet.Wpf" version="2.2.1" targetFramework="net461" />
</packages>